.App {
  text-align: center;

  display: grid;
  justify-content: center;
  padding: 1rem;
}

:root {
  --in-word: 60, 49%;
  --at-location: 139, 43%;
  --not-in-word: 0, 0%;
}

.board {
  display: grid;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  max-width: 700px;

  padding: 1rem;
}

.attempt {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  grid-auto-columns: 60px;
  grid-auto-rows: 60px;

  gap: 0.3rem;

  position: relative;
}

.attempt.current::before {
  content: '>';
  color: rgb(11, 173, 242);
  position: absolute;
  left: -20px;
}

.char {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  border: solid 1px black;
}

.char.current {
  border-color: rgb(11, 173, 242);
}

.char.at-location,
.char.in-word,
.char.not-in-word {
  animation: turn 400ms linear;
}

.char.in-word {
  background-color: hsl(var(--in-word), 50%);
  color: white;
  border-color: hsl(var(--in-word), 30%);
}

.char.at-location {
  background-color: hsl(var(--at-location), 50%);
  color: white;
  border-color: hsl(var(--at-location), 30%);
}

.char.not-in-word {
  background-color: hsl(var(--not-in-word), 50%);
  color: white;
  border-color: hsl(var(--not-in-word), 30%);
}

.error {
  color: crimson;
  padding-bottom: 1rem;
  height: 30px;
}

.keyboard {
  display: grid;
  gap: 0.2rem;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 35px;
  justify-content: center;
  gap: 0.2rem;
}

.key {
  aspect-ratio: 1/1;
  background: rgb(213, 213, 213);
  color: #333;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.key.in-word,
.key.at-location,
.key.not-in-word {
  color: white;
}

.key.not-in-word {
  background-color: rgb(133, 133, 133);
}

.key.in-word {
  background-color: rgb(188, 188, 65);
}

.key.at-location {
  background-color: rgb(61, 152, 90);
}

.key:hover {
  filter: brightness(1.1);
}

.key:active {
  filter: brightness(0.9);
}

.key.delete {
  margin-right: 0.2rem;
}

.key.enter,
.key.delete {
  height: 35px;
  padding: 0 10px;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
